.contactList {
    display: flex;
    gap: 10px;
    
  }
  
  /* Додаємо новий стиль для обгортки контакту */
  .contactItem {
    border: 1px solid rgb(46, 36, 36);
    padding: 10px;
    border-radius: 5px;
  }